<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.dhiegoatencio.listadecompra" version="1.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Lista de Compras Simplificada</name>
  <description>
     Lista de compras simples.
  </description>
  <author email="dhiego.atencio@gmail.com" href="https://www.linkedin.com/pub/dhiego-hendrix-atencio/29/ba0/2bb">
    Don Apps
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <icon src="resources\android\icon\drawable-xhdpi-icon.png"/>
  <platform name="android">
    <icon src="resources\android\icon\drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources\android\icon\drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources\android\icon\drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources\android\icon\drawable-xhdpi-icon.png" density="xhdpi"/>
  </platform>
</widget>