<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- libs adicionadas -->
    <script src="lib/ngstorage/ngStorage.min.js"></script>

     <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script>
        function isUrl(s) {
            var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
            return regexp.test(s);
        };
        document.onclick = function (e) {
            e = e || window.event;
            var element = e.target || e.srcElement;
            if (element.tagName == 'A') {
                if (isUrl(element.href)) {
                    window.open(element.href, "_system", "location=no");
                    return false;
                }
            }
        };
    </script>
  </head>
  <body ng-app="starter" ng-controller="TodoListController as todoList" style="background-color:#444444">

      <ion-header-bar class="bar bar-header">
          <h1 class="title">Lista de Compras</h1>       
          <div class="bar bar-header bar-dark">
              <a class="button button-icon icon icon-left ion-heart"
                 href="https://play.google.com/store/search?q=maiconsoft&c=apps"
                 ng-click="todoList.rate()"></a>
              <h1 class="title">Lista de Compras</h1>
              <a ng-click="todoList.help()" class="button button-icon icon icon-right ion-help"></a>
          </div>
      </ion-header-bar>
      <ion-content has-header="true">


<!--  vou implementar em alguma versão futura
          
          <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Busca">
          </label>
        -->


          <ul class="list" show-reorder="true">  
              <li class="item item-checkbox"
                  ng-repeat="todo in todoList.$storage.todos"
                  on-swipe-right="todoList.removeItem($index)">
                 <label class="checkbox">

                      <input type="checkbox" ng-model="todo.done">
                 </label>
                  <span class="done-{{todo.done}}">
                      {{todoList.getDescricaoItem(todo)}}
                  </span>
              </li>
          </ul>

      </ion-content>

      <ion-footer>
        <div class="tabs tabs-icon-left tabs-dark">
            <a class="tab-item" ng-click="todoList.openModal()">
                <i class="icon ion-plus-round"></i>
                Adicionar
            </a>
            <a class="tab-item" ng-click="todoList.confirmArchive()">
                <i class="icon ion-trash-b"></i>
                Arquivar
            </a>
            <a class="tab-item" href="https://play.google.com/store/apps/details?id=com.dongames.getnumbers">
                <i class="icon ion-social-android"></i>
                Jogo
            </a>
        </div>
      </ion-footer>



      <script id="modalAddItem.tpl" type="text/ng-template">
      <div class="modal">

          <div class="bar bar-header bar-calm">
              <button class="button" ng-click="todoList.closeModal()">Fechar</button>
              <h1 class="title">Adicionar item</h1>
          </div>

          <br></br>

          <form ng-submit="todoList.addItem(data)">
              <div class="list">
                  <div class="list list-inset">
                      <label class="item item-input">
                          <span class="input-label">Descrição do item:</span>
                          <input type="text" focus-on="text" placeholder="Refrigerante 2 litros"
                                 ng-model="data.text" ng-keydown="todoList.atualizaStatusItem(data.text)">
                      </label>
                      <label class="item item-input">
                          <span class="input-label">Quantidade:</span>
                          <input type="number" ng-model="data.quantidade">
                      </label>
                  </div>
                  <button class="button button-block button-positive" type="submit">
                      Salvar
                  </button>
              </div>
              <div style="align:center">
              <h3 class="calm" style="text-align:center">{{todoList.statusItem}}</h3>
              </div>
          </form>

      </div>
      </script>
  </body>
</html>
