<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="lib/angular-notify/dist/angular-notify.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <script src="cordova.js"></script>

  <!-- libs adicionadas -->
  <script src="lib/ngstorage/ngStorage.min.js"></script>
  <script src="lib/angular-notify/dist/angular-notify.min.js"></script>
  <script src="js/googleAds.js"></script>

   <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/repository.js"></script>
  <script>
      function isUrl(s) {
          var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
          return regexp.test(s);
      };
      document.onclick = function (e) {
          e = e || window.event;
          var element = e.target || e.srcElement;
          if (element.tagName == 'A') {
              if (isUrl(element.href)) {
                  window.open(element.href, "_system", "location=no");
                  return false;
              }
          }
      };
  </script>
</head>
<body ng-app="app" onload="onLoad()" onresize="onResize()"
      ng-controller="TodoListController as ctrl"
      style="background-color:#444444">
<ion-pane>

    <ion-header-bar class="bar bar-header">
        <h1 class="title">Lista de Compras</h1>       
        <div class="bar bar-header bar-dark">
            <a class="rate-icon button button-icon icon icon-left ion-heart"
               href="https://play.google.com/store/apps/details?id=com.dhiegoatencio.listadecompra"
               ng-click="ctrl.rate()"></a>
            <h1 class="title" ng-bind="ctrl.getListTitle(ctrl.listas, ctrl.lista)"></h1>
            <a ng-click="ctrl.help()"
               class="button button-icon icon icon-right ion-help"></a>
        </div>
    </ion-header-bar>

    <ion-content has-header="true" has-footer="true">
<!--  vou implementar em alguma versão futura
          
          <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Busca">
          </label>
        -->
      <ion-list can-swipe="true">
          <ion-item ng-if="ctrl.lista.items.length == 0">
              Adicione item com o <i class="icon ion-plus-round"></i> do rodapé.
          </ion-item>
          <ion-item ng-if="ctrl.lista.items.length == 0">
              Me arraste para << e veja opções.
              <ion-option-button class="button-positive">Exemplo</ion-option-button>
              <ion-option-button class="button-assertive">Exemplo</ion-option-button>
          </ion-item>

          <ion-item ng-repeat="item in ctrl.lista.items"
                    item="item"
                    ng-click="item.done = !item.done">

              <i ng-if="item.done" class="item-icon-done ion-checkmark-circled positive"></i>
              <span class="item-container">
                  <span class="item-data-container">
                    <span ng-bind="ctrl.getDescricaoItem(item)">
                    </span>
                  </span>
                  <span class="item-icon icon-item-options ion-ios-arrow-left"></span>
              </span>
              <ion-option-button class="ion-edit button-positive"
                                 ng-click="ctrl.editItem(item, $index)">
              </ion-option-button>
              <ion-option-button class="ion-trash-a button-assertive"
                                 ng-click="ctrl.removeItem($index)">
              </ion-option-button>

          </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer-bar class="tabs tabs-icon-left tabs-dark">
        <a class="tab-item" ng-click="ctrl.openModal()">
            <i class="icon ion-plus-round"></i>
        </a>
        <a class="tab-item" ng-click="ctrl.confirmArchive()">
            <i class="icon ion-archive"></i>Arquivar
        </a>
        <a class="tab-item" ng-click="ctrl.openArquivados()">
            <i class="icon ion-ios-filing"></i>Arquivados
        </a>
        <a class="tab-item" href="https://play.google.com/store/apps/details?id=com.dongames.getnumbers">
            <i class="icon ion-social-android"></i>
        </a>
    </ion-footer-bar>
</ion-pane>
   

  <script id="modalAddItem.tpl" type="text/ng-template">
    <div class="modal">
        <div class="bar bar-header bar-calm">
            <button class="button ion-close"
                    ng-click="ctrl.closeModal()">  Fechar</button>
            <h1 class="title">{{ctrl.statusItem}}</h1>

            <button ng-click="ctrl.addItem(ctrl.itemTemp, ctrl.indexEditing)"
                class="button ion-plus-round">  Salvar</button>
        </div>

        <br></br>

        <form ng-submit="ctrl.addItem(ctrl.itemTemp, ctrl.indexEditing)">
            <div class="list">
                <div class="list list-inset">
                    <label class="item item-input">
                        <span class="input-label">*Item:</span>
                        <input type="text" focus-on="text" placeholder="Refrigerante 2 litros"
                            ng-model="ctrl.itemTemp.text"
                            ng-keydown="ctrl.keyDownItemForm($event)">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Quantidade:</span>
                        <input type="number" focus-on="qtd"
                            ng-model="ctrl.itemTemp.qtd"
                            ng-keydown="ctrl.keyDownItemForm($event)">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Preço:</span>
                        <input type="number" focus-on="qtd"
                            ng-model="ctrl.itemTemp.preco"
                            ng-keydown="ctrl.keyDownItemForm($event)">
                    </label>
                    <br>
                    * Campos obrigatórios
                </div>
            </div>
        </form>
    </div>
  </script>


  <script id="modalArquivados.tpl" type="text/ng-template">
      <div class="modal">
        <div class="bar bar-header bar-calm">
            <button class="button"
                    ng-click="ctrl.closeArquivados()">Fechar</button>
            <h1 class="title">Arquivados</h1>
        </div>
        <ion-content has-header="true">
            <br><br>
            <ion-list>
                <ion-item ng-repeat="list in ctrl.listas"
                    ng-click="ctrl.selectList(list)">
                    <span>
                        <span>{{list.title || (list.archived | date: ctrl.dateFormat) || 'Atual'}}</span>
                        <span ng-if="ctrl.isFirstList(list)"
                            class="icon-item-options ion-ios-arrow-left"></span>
                    </span>
                    <div ng-if="ctrl.isFirstList(list)">
                        <ion-option-button
                            class="button-positive ion-edit"
                            ng-click="ctrl.renameList(list)">
                        </ion-option-button>
                        <ion-option-button
                            ng-click="ctrl.removeArchived(list)"
                            class="ion-trash-a button-assertive">
                        </ion-option-button>
                    </div>
                </ion-item>
            </ion-list>
            <br></br>
        </ion-content>
    </div>
  </script>

</body>
</html>
