.done-background-color-true {
  background-color: #D8E8F2;
}

.done-text-true {
  color: grey;
  text-decoration: line-through;
}

.icon-item-options {
  float: right;
}
.rate-icon {
  color: #ff7575 !important;
}

.item-icon-done {
  float: left;
}
.item-content {
  padding-right: 16px !important;
}
.item-container {
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
}
.item-data-container {
  width: 100%;
}
.item-icon.icon-item-options {
  margin-right: -20px;
}
/*
.item-content {
  background-color: #fafdff !important;
}*/